body, html {
    height: 100%;
}
body {
    /*display: flex;*/
    margin: 0px;
    overflow: hidden; /*  Disable scrollbars */
    background-color: black;
    color: white;
}
.sidebar {
height: 100%;
width: 150px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: purple;
}

.sidebar div {
padding: 8px;
font-size: 12px;
display: block;
}

button {
position: absolute;
right: 0;
bottom: 0;
}

